* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-items: center;
}

nav {
    background-color: #f3e6f9;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: rgb(42, 33, 33);
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: lato, sans-serif;
}

h1 {
    color: rgb(74, 74, 144);
    border-bottom: 1px solid #361661;
}

h2 {
    color: rgb(238, 225, 161);
    position: absolute;
    top: 30px;
    left: 100px;
    clear: both;
}

aside {
    grid-column: 1;
    text-align: center;
    position: relative;
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main img {
    width: 170px;
    height: auto;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

p {
    padding: 0;
    text-align: justify;
}

main p {
    overflow: hidden;
}

aside p {
    clear: both;
    margin-top: 1rem;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 280px;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgb(105, 41, 103);
    text-align: center;
    clear: both;
}

/* this part is class selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #d8f9f1;
    width: 25rem;
    /* this is shorthand for #dddddd */
}