nav {
    background-color: rgb(195, 195, 231);
    padding: 10px;

}

nav a {
    color: rgb(42, 33, 33);
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 220px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px
}

aside {
    width: 20rem;
    padding: 10px;
    background-color: rgb(195, 195, 231);
    color: black;
    border: 1px solid rgb(105, 41, 103);
    text-align: left;
    padding: 10px;
    margin: 1rem;
}

aside img {
    width: 200px;
    height: auto;

}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgb(105, 41, 103);
    text-align: center;
    clear: both;
}