body {
    width: 600px;
    margin: 0 auto;
    font-family: lato, sans-serif;
}

main {
    width: 60%;
    margin: 0 auto;
    block-size: 100%;
    display: block;
}

header {
    background-color: rgb(21, 18, 18);
    text-align: center;
    color: white;
    padding: 1px;
    font-size: 1.3rem;
    margin: 10px;
}

footer {
    font-size: 1.3rem;
    text-align: center;
    margin: 20px 0;
    background-color: rgb(21, 18, 18);
    color: white;
    padding: 1px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

picture {
    margin: 20px;
    padding: 0;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

img {
    width: 90%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px 10px rgb(144, 138, 138);
}

section {
    width: calc(100% - 40px);
    background-color: rgba(192, 183, 183, 0.964);
    margin: 20px;
    padding: 5%;
    text-align: left;
    box-sizing: border-box;
}

h2 {
    border-bottom: 1px solid black;
}

section p {
    margin-left: 15px;
    text-align: left;
}

section ul {
    margin-left: 15px;
    padding-left: 20px;
}